<html>
<body>
<h1>Hello, <%= @name %>!</h1>
<h2> My IP adderss is <%= node['ipaddress'] %><h2>
<h2> My hostname is <%= node['hostname'] %></h2>
<hr>
<img src="cat.jpg"><br>
<i>Thank you for visiting my page</i>
</body>
</html>
